## 인라인 주석을 추가해 달라고 하기

In [ ]:
def process_data(data):
    result = []

    for item in data:
        if item % 2 == 0:
            result.append(item * 2)
        else:
            result.append(item * -1)

    return result

data = [1, 2, 3, 4, 5]
processed_data = process_data(data)
print(processed_data)

In [ ]:
def process_data(data):
    result = [] # 결과를 저장하기 위한 빈 배열을 초기화

    # 입력 데이터의 각 요소에 대해 반복 처리
    for item in data:
        # 요소의 홀짝수를 확인
        if item % 2 == 0:
            # 짝수인 경우, 값을 2배로 바꿔 결과 목록에 추가
            result.append(item * 2)
        else:
            # 홀수인 경우, 값을 음수로 바꿔 결과 목록에 추가
            result.append(item * -1)

    return result # 처리된 데이터를 반환

# 예제 입력 데이터
data = [1, 2, 3, 4, 5]
# process_data 함수를 사용하여 입력 데이터 처리
processed_data = process_data(data)
# 처리된 데이터를 출력
print(processed_data)

## 함수 문서를 추가해 달라고 하기

In [ ]:
def process_data(data):
    result = []

    for item in data:
        if item % 2 == 0:
            result.append(item * 2)
        else:
            result.append(item * -1)

    return result

In [ ]:
def process_data(data):
    """
    주어진 정수 리스트의 각 요소에 대해 처리를 진행해, 새로운 리스트를 생성합니다.
    짝수 요소는 2배로 만들고, 홀수 요소는 음수로 반전시킵니다.

    Parameters:
    data (list of int): 처리 대상인 정수 리스트

    Returns:
    list of int: 처리 결과의 정수 리스트
    """
    result = []

    for item in data:
        if item % 2 == 0:
            result.append(item * 2)
        else:
            result.append(item * -1)

    return result

In [ ]:
help(process_data)